@model CustomerListModel
@{
    ViewData["Title"] = "客户列表";
}
@section header{
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">客户管理</div>
                    <h2 class="page-title">列表</h2>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <form method="get" action="/Customer/List">
            <div class="card">
                <div class="card-header">
                    @*<h3 class="card-title">Invoices</h3>*@
                    <a href="/Customer/Add" class="btn btn-outline-primary">
                        添加
                    </a>
                </div>
                <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                        <div class="d-inline-block" style="width:300px">
                            <input type="text" class="form-control form-control" aria-label="Search invoice" placeholder="请输入关键字" asp-for="Param.key">
                        </div>
                        <div class="ms-2 d-inline-block">
                            <input type="submit" class="btn" value="查询" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
                                <th>姓名</th>
                                <th>项目地址</th>
                                <th>合同面积</th>
                                <th>合同金额</th>
                                <th>自述面积</th>
                                <th>施工内容</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Customers)
                            {
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">@item.CustomerName</a></td>
                                    <td>
                                        <span class="flag flag-country-us"></span>
                                        @item.ProjectAddr
                                    </td>
                                    <td>
                                        @item.ContractArea
                                    </td>
                                    <td>
                                        @item.ContractAmt
                                    </td>
                                    <td>
                                        @item.SelfStatementArea
                                    </td>
                                    <td>@item.ConstructItemsDisplayText</td>
                                    <td class="text-end">
                                        <div class="btn-list flex-nowrap">
                                            <a href="#">编辑</a>
                                            <a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                            }
@*                            <tr>
                                <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                <td><a href="invoice.html" class="text-reset" tabindex="-1">UX Wireframes</a></td>
                                <td>
                                    <span class="flag flag-country-gb"></span>
                                    Adobe
                                </td>
                                <td>
                                    87956421
                                </td>
                                <td>
                                    12 Apr 2017
                                </td>
                                <td>
                                    <span class="badge bg-warning me-1"></span> Pending
                                </td>
                                <td>$1200</td>
                                <td class="text-end">
                                    <div class="btn-list flex-nowrap">
                                        <a href="#">编辑</a>
                                        <a href="#">删除</a>
                                    </div>
                                </td>
                            </tr>*@

                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex align-items-center">
                    @*<p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>*@
                    <div class="d-flex">
                        <div class="text-muted">
                            每页
                            <div class="mx-2 d-inline-block">
                                <select asp-for="@Model.Param.ps">
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            条
                        </div>
                    </div>

                    <ul class="pagination m-0 ms-auto">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 6l-6 6l6 6" /></svg>
                                prev
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 6l6 6l-6 6" /></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

